.header{
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0)), url("../../image/Background_1.jpg");
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  background-position: center;
}
.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
  }
  
